* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1600px;
  margin: 0 auto;

  font-family: Arial, Helvetica, sans-serif;
}

/* ************************************ */
/* Nav */
/* ************************************ */

body {
  position: relative;
}

.sticky {
  position: sticky;
  top: 0;
  
  z-index: 10;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links a {
  color: aliceblue;
  text-decoration: none;
}

.nav-links li {
  padding: 25px;
}

.nav-links li:last-child {
  margin-left: auto;
}

@media only screen and (max-width: 620px) {
  .nav-links {
    font-size: 0.7em;
  }
}

/* ************************************ */
/* Cover */
/* ************************************ */

.cover-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.cover {
  width: 30rem;
}

/* ************************************ */
/* IMG GRID */
/* ************************************ */

.img-container:hover {
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  transform: rotate(-4deg);
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.img-container {
  background-color: #444;

  padding: 90px;
  margin: 20px 20px;
}

img {
  width: 100%;
}

/* Make images child of img containers the same width of their respective grid box */

/* ************************************ */
/* Footer */
/* ************************************ */

footer {
  text-align: center;
}
