body {
  max-width: 1600px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  margin-left: 16px;
  /* margin-left: 10px; */
  list-style: none;
}

li {
  padding: 0px 10px;
}

li:hover {
  background-color: hotpink;
}

.contact {
    padding: 0px 10px;
    margin-right: 30px;
}

.contact:hover {
    background-color: hotpink;
  }
