body {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}

/* ************************************ */
/* Nav */
/* ************************************ */

.nav-links {
  display: flex;
  list-style: none;

  margin: 0;

  font-size: 0.7em;
}

li {
  padding: 20px;
}

a {
  color: #f5f5f6;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .nav-links {
    /* Make Links Take Less Space */
    font-size: 0.7em;
    padding: 0;
  }
}

/* Keeps Link Pushed To The Right Responsively */
.push {
  margin-left: auto;
}

/* ************************************ */
/* Cover */
/* ************************************ */

.cover-container {
  display: flex;
  align-items: center;
  justify-content: center;

  /* Make Cover Responsive by making it 50% of ViewPort Height */
  height: 50vh;
}

/* ************************************ */
/* Cover */
/* ************************************ */
.img-grid {
display: grid;
gap:20px;

grid-template-columns: repeat(auto-fill,minmax(350px,1fr));

}

.img-container {
  background-color: #444;
  padding: 130px;
  margin: 20px;
}

/* Make images child of img containers the same width of their respective grid box */
.img-container > img {
  width: 100%;
}

footer {
  text-align: center;
}